.header{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #1f2937;

}

.subheader{
    display: flex;
    text-align: end;
    justify-content: space-evenly;
    background-color: #1f2937;

}

h1{
    color: #F9FAF8;
    font-size: 24px;
}

h2{
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 10px;
}

.container1{
    background-color: #1f2937;
    display: flex;

}

.intro{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.info{
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    height: 20px;
    width: 100px;
    border-radius: 6px;
}

.internalcontainer1{
    display: flex;
    flex-direction: column;
}

.placeholder{
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 20px;
    background-color: grey;
    height: 75px;
    width: 480px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 25px;
}

.container2{
    background-color: white;  
    display: flex; 
}

.captioncontainer{
    display: flex;
    flex-direction: column;
}

.subtitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid #3882F6;
    border-radius: 25px;
    text-align: center;
}

.subtext{
    color: grey;
    font-size: 18px;
    
}

.container3{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    text-align: center;
}

.author{
    font-size: 24px;
    color: #1f2937;
    text-align: end;
}

.container4{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.advert{
    width: 700px;
    height: 70px;
    background-color:#3882F6;
    text-align: center;
    color: #F9FAF8;
}

.secondbutton{
    background-color: #3882F6;
    color: #F9FAF8;
    height: 20px;
    width: 100px;
    border-radius: 6px;
    border-color: #F9FAF8;
}

.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 16px;
    text-align: center;
    height:40px
}

